<!DOCTYPE html>
<body>
    <h1>Welcome to Delphi!</h1>
    <h3>A Password Manager for COSC 231: Project Management</h3>
    <a href = "http://localhost:4000/register">To Register</a> <br> <br>
    <a href = "http://localhost:4000/login">To Login</a>

    <script>
        console.log(document.cookie)
        document.getElementById("accessToken").innerHTML = getCookie('accessToken')
        document.getElementById("refreshToken").innerHTML = getCookie('refreshToken')

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
}
    </script>
</body>